@font-face {
    font-family: 'para';
    src: url('/fonts/para_supreme_light_fine-webfont.woff2') format('woff2'),
         url('/fonts/para_supreme_light_fine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'begum';
    src: url('/fonts/begum-regular-webfont.woff2') format('woff2'),
         url('/fonts/begum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt-commons';
    src: url('/fonts/ttcommons-bold-webfont.woff2') format('woff2'),
         url('/fonts/ttcommons-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    background-color: #161516;
    margin: 0;
    overflow: hidden;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    .grey, .white {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .grey {
        z-index: 2;
        background-color: #1b191b;
    }

    .white {
        z-index: 1;
        background-color: white;
    }

    .text-wrap {
        overflow: hidden;
    }

    .text-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'tt-commons';
        color: white;
        font-size: 70px;
        z-index: 3;

        span {
            display: inline-block;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 25px;
    margin-bottom: 15px;
    position: relative;

    .menu {
        position: relative;
        padding-left: 1.25em;
        height: 18px;

        &:before {
            content: "";
            position: absolute;
            top: 0.25em;
            left: 0;
            width: 1.5em;
            height: 0.125em;
            border-top: 0.375em double #c9c8c9;
            border-bottom: 0.125em solid #c9c8c9;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'tt-commons';
        font-size: 30px;
        color: white;
    }

    .basket {
        font-family: 'tt-commons';
        font-size: 13px;
        color: white;
        text-transform: uppercase;

        span {
            color: #7b7a7b;
            margin-left: 3px;
        }
    }
}

#canvas-holder {
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin-right: 50px;
}

#slider-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#slider {
    display: flex;
    padding: 0 70px 0 40px;
    position: relative;

    article {
        position: relative;
        width: calc(40% - 50px);
        color: #FFF;
        z-index: 2;

        .slide-count {
            margin-top: 70px;
            font-family: 'tt-commons';
            font-size: 14px;
            overflow: hidden;

            .index {
                display: inline-block;
                position: relative;
                line-height: 24px;
                width: 16px;
                height: 24px;

                > span {
                    display: block;
                    height: 100%;
                }

                .next {
                    position: absolute;
                    top: -100%;
                    left: 0;
                }
            }

            .line {
                display: inline-block;
                width: 30px;
                height: 1px;
                background-color: white;
                vertical-align: middle;
                margin: 0 7px;
            }
        }

        .slide-title {
            font-family: 'para';
            font-size: 110px;
            font-weight: 400;
            margin: 60px 0 60px 50px;
            letter-spacing: -3px;
            padding-left: 12px;
            line-height: 120px;
            position: relative;

            .code {
                display: block;
                position: absolute;
                right: 100%;
                height: 100%;
                padding: 0 6px;
                overflow: hidden;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: -10px;
                    width: 108%;
                    height: 40%;
                    background-color: #343234;
                    z-index: -1;
                }

                > span {
                    display: inline-block;
                    height: 100%;
                }

                .next {
                    position: absolute;
                    top: -100%;
                    left: 0;
                }
            }
        }

        .description {
            position: relative;
            font-size: 12px;
            line-height: 20px;
            width: 380px;
            height: 100px;
            font-family: 'begum';

            > p {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .btn {
            margin-top: 50px;
            display: inline-block;
            position: relative;
            font-family: 'tt-commons';
            font-size: 13px;
            color: white;
            text-transform: uppercase;
            text-decoration: none;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -8px;
                background-color: #434143;
            }
        }
    }

    .slide-nav {
        position: absolute;
        z-index: 5;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);

        button {
            display: block;
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 1px solid #434143;
            padding: 0;
            background-color: transparent;
            outline: 0;
            transition: border-color 0.3s ease-in-out;

            &:disabled {
                opacity: 0.2;
            }

            &:hover:not(:disabled) {
                border-color: #9e969e;
                cursor: pointer;
            }

            &:first-child {
                margin-bottom: 10px;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 16px;
                height: 7px;
                fill: #9e969e;
            }

            &[data-direction="prev"] svg {
                transform: translate(-50%,-50%) rotate(-90deg);
            }

            &[data-direction="next"] svg {
                transform: translate(-50%,-50%) rotate(90deg);
            }
        }
    }
}